@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Arvo:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

hr {
  width: 70vw;
  margin: auto;
}

a:visited {
  color: inherit;
}

@media screen and (min-width: 1000px) {
  .main-statement-section {
    font-size: 13px;
  }
  .social-icon {
    width: 3em;
  }
  .background {
    height: 100vh;
  }
  .content-header {
    font-size: 4em;
  }
  .article-text {
    font-size: 18px;
  }
  .map {
    width: 60%;
  }
}

@media screen and (max-width: 999px) {
  .main-statement-section {
    font-size: 9px;
  }
  .social-icon {
    width: 2em;
  }
  .background {
    height: 100vh;
  }
  .content-header {
    font-size: 4em;
  }
  .article-text {
    font-size: 16px;
  }
  .map {
    width: 70%;
  }
}

@media screen and (max-width: 510px) {
  .main-statement-section {
    font-size: 6px;
  }
  .background {
    height: 100vh;
  }
  .content-header {
    font-size: 3em;
  }
  .title {
    font-size: 3em;
  }
  .main-statement {
    font-size: 2em;
  }
  .menu-pic {
    width: 80vw;
  }
  .social-icon {
    width: 3em;
  }
  p {
    font-size: 18px;
  }
  .article-text {
    font-size: 16px;
  }
  .map {
    width: 80%;
  }
}

.menu-link:hover {
  color: #ff7878;
}

.title {
  padding: 3vh 0 3vh 5vw;
  color: #eee;
  margin: 0;
}

.strokeme {
  color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hamburger {
  transform: translateY(40%);
  color: #eee;
}

.header {
  background: #4B515D;
}

.nav-elements {
  padding: 3vh 1vw 3vh 2vw;
  font-size: 1.5em;
  color: #ccc;
}

a {
  color: #ccc;
}

a:hover {
  text-decoration: underline;
  color: #ff7878;
}

a:visited {
  color: white;
}

.background {
  background-image: url("../pics/LittleNook.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-statement-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  text-align: center;
}

.main-statement {
  margin-top: 2em;
  color: #eee;
  font-size: 6em;
  font-family: 'Open Sans', sans-serif;
}

.content {
  color: #eee;
  background: #4B515D;
}

.content-title {
  color: #eee;
}

.space {
  margin-bottom: 4em;
}

#about {
  padding-bottom: 3em;
}

.menu-pic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  padding: 1em;
  background-color: #222;
  color: #ccc;
}

.footer-top {
  margin-bottom: 1em;
}

.footer-block {
  font-size: 22px;
  margin-bottom: 3em;
}

.social-icon {
  margin: 10px;
  opacity: 0.7;
}

.social-icon:hover {
  opacity: 1;
}

.map {
  margin: 0 auto;
  height: 40vh;
}